/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--card-text-font-weight);
}

.content-section {
  max-inline-size: var(--content-width);
  inline-size: 100%;
  margin: 0 auto;
}

.header {
  padding: 120px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  background-color: #fff;
  margin-block: 100px;
}

.header__logo {
  font-family: var(--accent-font);
  font-size: 49px;
  text-transform: uppercase;
  margin-block-end: 20px;
}

.header__subtitle {
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
}

